body {
    background-color: #121212;
    color: white;
    font-family: monospace;
}

.dotted-list {
    list-style-type: none;
    padding-left: 20px;
    position: relative;
    margin-left: 145px;
    margin-top: -90px;
}

.dotted-list li {
    position: relative;
    margin: 18px 0;
    padding-left: 20px;
    font-size: 30px;
}

.dotted-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-right: 200px;
    cursor: default;
}

#logo-title {
    font-size: 100px;
}

#logo-img {
    height: 150px;
}

#signup-password-box {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#password, #username, #mailid {
    font-family: monospace;
    margin-bottom: 25px;
    color: white;
    background-color: #202020;
    height: 35px;
    font-size: 15px;
    border-radius: 50px;
    padding: 0 45px 0 15px;
    border: solid 1px #202020;
    width: 100%;
    box-sizing: border-box;
}

#password-container {
    position: relative;
    width: 100%;
}

#toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding-bottom: 23px;
}

#signup-button, #cancel-button {
    color: white;
    font-family: monospace;
    background-color: black;
}

#signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
}

#signup-page-content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#log {
    font-size: 80px;
}

#cancel-signup-button * {
    border-radius: 20px;
    border: solid 1px black;
    height: 40px;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 19px;
    transition: all 0.3s ease;
}

#cancel-signup-button *:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

@media (max-width: 768px) {
  #logo, .dotted-list {
    display: none;
  }
}